---
layout: layouts/blog-layout.njk
tags:
  - nav
navtitle: Home
---

{% set postslist = collections.posts | head(-30) %} {% include "postslist.njk" %}

<p><a href="{{ '/posts/' | url }}">Read more here.</a></p>
