<!DOCTYPE html>
<html class="web-font">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen,print">
    <link rel="canonical" href="https://www.rendall.dev/resume" />
</head>
<body>
    <main class="Resume">
    <div class="no-print print-instructions">
        <p>This is my resume / CV.</p>
        <ul>
            <li>Feel free to <a href="#" id="print-button">print directly from this page (or press Ctrl/Command + P )</a>.</li>
            <li><a href="rendallkoski.pdf" download>download a PDF version</a>,</li>
            <li><a target="_blank" href="https://docs.google.com/document/d/1dfiAVUVUVMeFW6hxONcYYUL7-6tcze2rQTAbwT2XUKc/edit?usp=sharing">download almost any format</a> via Google docs or 
            <li><a href="/">return to the home page</a>.</li>
        </ul>
        <hr>
    </div>
    <button class="no-print show-instructions-button" aria-label="expand or collapse instructions"><svg alt="printer icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M72.8,45.5c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3C75,46.5,74,45.5,72.8,45.5L72.8,45.5z M50,5  C25.1,5,5,25.1,5,50c0,24.9,20.1,45,45,45c24.9,0,45-20.1,45-45C95,25.1,74.9,5,50,5L50,5z M65.3,31.2h-9.6v-9.6L65.3,31.2z   M51.2,19.4v14c0,1.3,1,2.3,2.3,2.3h14.1v3H31.9V19.4H51.2z M68.1,76.8H32.4V56h35.7V76.8z M77.2,67.1c0,1.3-1,2.3-2.2,2.3h-2.5V56  c0-2.5-2-4.5-4.5-4.5H32.4c-2.5,0-4.5,2-4.5,4.5v13.3h-2.4c-1.3,0-2.3-1-2.3-2.3V44.8c0-1.3,1-2.2,2.3-2.2H75c1.3,0,2.2,1,2.2,2.2  V67.1z M38.5,61.3V65H62v-3.7H38.5z M38.5,67.1v3.6H62v-3.6H38.5z"></path></svg></button>
        {{ content | safe }}
    </main>
    <script>
        document.querySelector('#print-button').addEventListener('click', () => window.print());
    </script>
    <script src="/js/resume.js"></script>
</body>
</html>