<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen,print">
    <link rel="canonical" href="https://www.rendall.tv/resume" />
</head>
<body>
    <main class="Resume">
    <div class="no-print">
        <p>This is my resume / CV. Feel free to <a href="#" id="print-button">print directly from this page (or press Ctrl/Command + P )</a>.</p><p> Or, you can also </p>
        <ul>
            <li><a href="rendallkoski.pdf" download>download a PDF version</a>,</li>
            <li><a target="_blank" href="https://docs.google.com/document/d/1dfiAVUVUVMeFW6hxONcYYUL7-6tcze2rQTAbwT2XUKc/edit?usp=sharing">download almost any format</a> via Google docs or 
            <li><a href="/">return to the home page</a>.</li>
        </ul>
        <hr>
    </div>
        {{ content | safe }}
    </main>
    <script>
        document.querySelector('#print-button').addEventListener('click', () => window.print());
    </script>
</body>
</html>