<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen,print">
</head>
<body>
    <main class="Resume">
    <div class="no-print">
        <p>This is my resume / CV. Feel free to <a href="#" onclick="window.print()">print directly from this page</a>. Or, you can also </p>
        <ul>
            <li><a href="rendallkoski.pdf">download a PDF version</a>,</li>
            <li><a href="./print">print from this other dedicated page</a>,</li>
            <li><a href="https://docs.google.com/document/d/1dfiAVUVUVMeFW6hxONcYYUL7-6tcze2rQTAbwT2XUKc/edit?usp=sharing">download almost any format</a> from Google docs or 
            <li><a href="../">return to the home page</a>.</li>
        </ul>
        <hr>
        
    </div>
        {{ content | safe }}
    </main>
</body>
</html>