/* resets and common styles across rendall.dev & blog.rendall.dev */
$color-background: #efeeee;
$color-text: #403434;
$a-visited: lighten($color-text, 20%);

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.svg#Montserrat") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.svg#Montserrat") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Italic.woff2") format("woff2"),
    url("../fonts/Montserrat-Italic.woff") format("woff"),
    url("../fonts/Montserrat-Italic.ttf") format("truetype"),
    url("../fonts/Montserrat-Italic.svg#Montserrat") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bolditalic.eot");
  src: url("../fonts/Montserrat-Bolditalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-Bolditalic.woff2") format("woff2"),
    url("../fonts/Montserrat-Bolditalic.woff") format("woff"),
    url("../fonts/Montserrat-Bolditalic.ttf") format("truetype"),
    url("../fonts/Montserrat-Bolditalic.svg#montserratbold_italic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Fallback font approximately matching Montserrat default
font-family: Arial
font-size: 1.06rem
line-height: 1.52
letter-spacing: 0.051rem
word-spacing: -0.119rem

approximately matches:
font-family: Montserrat
font-size: 1rem
line-height: 1.6
*/

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  line-height: 1.41;
  letter-spacing: -0.004rem;
  word-spacing: -0.022rem;

  &.web-font {

    font-family: "Montserrat";
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0rem;
    word-spacing: 0rem;

  }

  background-color: $color-background;
  color: $color-text;
  margin: 0;
  padding: 0;
}

body {
  margin: 0.25rem;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  color: $color-text;
  &:visited {
    color: $a-visited;
  }
}

@media (min-width: 600px) {
  body {
    margin: 1rem;
  }
  ul {
    margin-left: 1rem;
  }
}

@media print {
  html {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .no-print {
    display: none;
  }
}
