/**
 * /* rendall.dev styles
 *
 * @format
 */

@import "_modern-normalize";
@import "_rendall-normalize";
@import "_prism";
@import "_prism-night-owl";
@import "simple-comment";

$site-max-width: 50rem;
$main-margin-left: 5rem;
$side-nav-width: 23rem;
$main-width: 73rem;

html {
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.42 180h-1.415L0 98.995v-2.827L6.167 90 0 83.833V81.004L81.005 0h2.827L90 6.167 96.167 0H98.996L180 81.005v2.827L173.833 90 180 96.167V98.996L98.995 180h-2.827L90 173.833 83.833 180H82.42zm0-1.414L1.413 97.58 8.994 90l-7.58-7.58L82.42 1.413 90 8.994l7.58-7.58 81.006 81.005-7.58 7.58 7.58 7.58-81.005 81.006-7.58-7.58-7.58 7.58zM175.196 0h-25.832c1.033 2.924 2.616 5.59 4.625 7.868C152.145 9.682 151 12.208 151 15c0 5.523 4.477 10 10 10 1.657 0 3 1.343 3 3v4h16V0h-4.803c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6s-6-2.686-6-6c0-1.093.292-2.117.803-3h10.394-13.685C161.18.938 161 1.948 161 3v4c-4.418 0-8 3.582-8 8s3.582 8 8 8c2.76 0 5 2.24 5 5v2h4v-4h2v4h4v-4h2v4h2V0h-4.803zm-15.783 0c-.27.954-.414 1.96-.414 3v2.2c-1.25.254-2.414.74-3.447 1.412-1.716-1.93-3.098-4.164-4.054-6.612h7.914zM180 17h-3l2.143-10H180v10zm-30.635 163c-.884-2.502-1.365-5.195-1.365-8 0-13.255 10.748-24 23.99-24H180v32h-30.635zm12.147 0c.5-1.416 1.345-2.67 2.434-3.66l-1.345-1.48c-1.498 1.364-2.62 3.136-3.186 5.14H151.5c-.97-2.48-1.5-5.177-1.5-8 0-12.15 9.84-22 22-22h8v30h-18.488zm13.685 0c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 148h8.01C21.26 148 32 158.742 32 172c0 2.805-.48 5.498-1.366 8H0v-32zm0 2h8c12.15 0 22 9.847 22 22 0 2.822-.53 5.52-1.5 8h-7.914c-.567-2.004-1.688-3.776-3.187-5.14l-1.346 1.48c1.09.99 1.933 2.244 2.434 3.66H0v-30zm15.197 30c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 32h16v-4c0-1.657 1.343-3 3-3 5.523 0 10-4.477 10-10 0-2.794-1.145-5.32-2.992-7.134C28.018 5.586 29.6 2.924 30.634 0H0v32zm0-2h2v-4h2v4h4v-4h2v4h4v-2c0-2.76 2.24-5 5-5 4.418 0 8-3.582 8-8s-3.582-8-8-8V3c0-1.052-.18-2.062-.512-3H0v30zM28.5 0c-.954 2.448-2.335 4.683-4.05 6.613-1.035-.672-2.2-1.16-3.45-1.413V3c0-1.04-.144-2.046-.414-3H28.5zM0 17h3L.857 7H0v10zM15.197 0c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6S4 6.314 4 3c0-1.093.292-2.117.803-3h10.394zM109 115c-1.657 0-3 1.343-3 3v4H74v-4c0-1.657-1.343-3-3-3-5.523 0-10-4.477-10-10 0-2.793 1.145-5.318 2.99-7.132C60.262 93.638 58 88.084 58 82c0-13.255 10.748-24 23.99-24h16.02C111.26 58 122 68.742 122 82c0 6.082-2.263 11.636-5.992 15.866C117.855 99.68 119 102.206 119 105c0 5.523-4.477 10-10 10zm0-2c-2.76 0-5 2.24-5 5v2h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-2c0-2.76-2.24-5-5-5-4.418 0-8-3.582-8-8s3.582-8 8-8v-4c0-2.64 1.136-5.013 2.946-6.66L72.6 84.86C70.39 86.874 69 89.775 69 93v2.2c-1.25.254-2.414.74-3.447 1.412C62.098 92.727 60 87.61 60 82c0-12.15 9.84-22 22-22h16c12.15 0 22 9.847 22 22 0 5.61-2.097 10.728-5.55 14.613-1.035-.672-2.2-1.16-3.45-1.413V93c0-3.226-1.39-6.127-3.6-8.14l-1.346 1.48C107.864 87.987 109 90.36 109 93v4c4.418 0 8 3.582 8 8s-3.582 8-8 8zM90.857 97L93 107h-6l2.143-10h1.714zM80 99c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm20 0c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6z' fill='%23ababab' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

.Site {
  &.grid-layout {
    display: grid;
    grid-template-columns: $side-nav-width auto;
    grid-template-rows: 20rem 1fr 20rem;
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";
    min-height: 100vh;
  }

  .grid-header {
    grid-area: header;
  }

  .grid-nav {
    grid-area: nav;
  }

  .grid-main {
    grid-area: main;
  }

  .grid-footer {
    grid-area: footer;
  }

  &__Header {
    font-weight: bold;

    &.banner {
      display: block;
      height: 100%;
      border-radius: 0;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        max-width: $main-width;
      }
    }
  }

  &__Side {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    top: 0;
    width: $side-nav-width;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.3);

    .avatar {
      border-radius: 100%;
      display: block;
      margin: 0 auto;
      overflow: hidden;
      width: 12rem;

      img {
        border-radius: 100%;
        display: block;
        width: 100%;
        height: auto;
      }
    }

    a {
      transition: none;
      border: 0;
      display: block;
      padding: 0.85rem 0;

      &:link {
        text-decoration: none;
      }
    }

    header {
      flex-shrink: 0;
      padding: 3rem;

      h1 {
        font-size: 2rem;
        margin: 0;
      }
    }

    nav {
      flex-grow: 1;

      & > ul > li {
        border-top: solid 1px #6a5151;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          display: block;
          padding: 0;

          &:first-child {
            border-top: 0;
          }

          a {
            &:active,
            &.active {
              background-color: $color-text;
              color: $color-background;
              font-weight: bold;
            }
          }
        }
      }
    }

    footer {
      flex-shrink: 0;
      padding: 2rem;
      width: 100%;
    }
  }

  &__Main {
    section {
      margin-left: $main-margin-left;
      max-width: 50rem;

      header {
        h2 {
          margin-bottom: 0;
        }

        p {
          margin: 0;
        }
      }

      article {
        h3 {
          margin-bottom: 0;
        }

        p {
          margin: 0;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }

  &__Message,
  &__SocialList {
    form input,
    textarea {
      display: block;
      border: solid gray 1px;
      border-radius: 0.5rem;
      padding-left: 0.5rem;
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      font-size: 1rem;
      color: #6a5151;
      min-height: 2rem;
      max-width: 30rem;
      min-width: 15rem;
      width: 100%;
      box-sizing: border-box;
    }

    fieldset {
      border: none;
      margin: 0 0 1rem 0;
      padding: 0;

      &.hide {
        display: none;
      }
    }

    .contain-form {
      display: none;

      &.is-visible {
        display: inherit;
      }

      &.is-success {
        display: none;
      }
    }

    img.icon {
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
      margin-right: 1rem;
    }

    .notify-invalid {
      display: none;

      &.is-invalid {
        display: block;
        color: red;
      }
    }

    .notify-success {
      display: none;

      &.is-success {
        display: block;
      }
    }

    .notify-error {
      display: none;

      &.is-error {
        display: block;
        color: red;
      }
    }
  }
}

.Blog {
  &__Nav {
    list-style-type: none;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }
  }

  &__NavItem {
    display: inline;

    &--Active {
      color: gray;
    }
  }

  &__Main,
  article {
    margin: 1rem 0;

    img {
      margin: 0;
      margin-right: 1rem;
      height: auto;
      max-width: 50%;
    }

    img:nth-child(2) {
      float: left;
      margin: 0;
      margin-right: 1rem;
    }

    ul {
      list-style-position: outside;
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 0;

      & > ul {
        margin-top: 1rem;
      }
    }

    & > ul {
      list-style-type: disc;

      & ul {
        list-style-type: circle;

        & ul {
          list-style-type: square;
        }
      }
    }
  }

  &__Header {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .Post {
    &__Header {
      margin-bottom: 0.75rem;
    }

    &__Title {
      margin: 0 0 0.25rem 0;
      font-size: 2rem;
    }

    &__SubTitle {
      font-style: italic;
      margin: 0 0 1rem;
      font-size: 1.5rem;
    }

    &__Article {
      max-width: $site-max-width;

      a.direct-link {
        visibility: hidden;
      }

      p {
        margin: 0 0 1rem 0;
      }

      picture.blog-picture {
        display: inline-block;
        vertical-align: middle;

        img {
          vertical-align: top;
          height: auto;
        }
      }

      p:has(> img),
      p:has(> picture.blog-picture) {
        position: relative;
      }

      // :has is not yet widely supported, so this fails gracefully if it is not supported
      img:has(+ br + a) + br + a,
      img:has(+ a) + a,
      picture.blog-picture:has(+ br + a) + br + a,
      picture.blog-picture:has(+ a) + a {
        position: absolute;
        bottom: 1rem;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding-left: 1rem;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      img + br + a,
      img + a,
      picture.blog-picture + br + a,
      picture.blog-picture + a {
        font-size: 1rem;
        display: block;
      }

      picture.blog-picture:hover + br + a,
      picture.blog-picture:hover + a,
      picture.blog-picture + br + a:hover,
      picture.blog-picture + a:hover {
        opacity: 1;
      }

      ul {
        list-style-position: outside;
        margin-bottom: 0.5rem;
      }

      li {
        margin-bottom: 0.25rem;

        & > ul {
          margin-top: 0.5rem;
        }
      }

      & > ul {
        list-style-type: disc;

        & ul {
          list-style-type: circle;

          & ul {
            list-style-type: square;
          }
        }
      }

      code:not([class]) {
        font-weight: bold;
      }
    }
  }

  &__Form {
    max-width: $site-max-width;

    .comment__list {
      list-style-type: none;
      padding: 0;

      .comment {
        padding: 0 0 1rem 0;
        background-color: #f2f2f2;
        border-radius: 0.5rem;
        margin-bottom: 1rem;

        &__header {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          padding: 1rem 1rem 0 1rem;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;

          &--awaiting-moderation {
            background-color: #e6e5e5;
            padding-bottom: 1rem;
          }

          & > * {
            margin: 0;
            padding: 0;
          }
        }

        &__notice {
          font-style: italic;
        }

        &__author {
          font-weight: bold;
        }

        &__date {
          color: gray;
        }

        &__text {
          margin-bottom: 0.5rem;
          padding: 0 1rem;
        }
      }
    }
  }

  &__Postlist {
    list-style-type: none;
    counter-reset: 3;
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-width: $site-max-width;

    .Postlist__Item {
      margin-bottom: 1.5rem;

      header.Item__Header {
        margin-bottom: 0.75rem;

        h2.Item__Headline {
          margin: 0 0 0.25rem 0;

          a.Headline__Link {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      article.Item__Teaser {
        p {
          display: inline;
          margin-right: 0.5rem;
        }
      }
    }
  }

  form {
    input,
    textarea {
      display: block;
      border: solid gray 1px;
      border-radius: 0.5rem;
      padding-left: 0.5rem;
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      font-size: 1rem;
      color: #6a5151;
      min-height: 2rem;
      max-width: 30rem;
      min-width: 15rem;
      width: 100%;
      box-sizing: border-box;
    }

    textarea {
      width: 50rem;
      max-width: 50rem;
      height: 7rem;
    }
  }

  fieldset {
    border: none;
    margin: 0 0 1rem 0;
    padding: 0;

    &.hide {
      display: none;
    }
  }

  .contain-form {
    display: none;

    &.is-visible {
      display: inherit;
    }

    &.is-success {
      display: none;
    }
  }

  .notify-invalid {
    display: none;

    &.is-invalid {
      display: block;
      color: red;
    }
  }

  .notify-success {
    display: none;

    &.is-success {
      display: block;
    }
  }

  .notify-error {
    display: none;

    &.is-error {
      display: block;
      color: red;
    }
  }

  // Prism customizations

  code[class*="language-"],
  pre[class*="language-"] {
    width: fit-content;
    min-width: $site-max-width;
  }
}

.Resume {
  &__Side {
    nav > ul ul > li {
      text-align: right;
    }

    .icon {
      width: 3rem;
      height: 3rem;
      vertical-align: middle;
      border: solid 1px $color-text;
      border-radius: 9px;
      margin: 0 1rem;
    }

    svg.icon {
      fill: $color-text;
    }

    span.icon {
      display: inline-block;
    }

    a:active {
      .icon {
        border: solid 1px $color-background;
      }

      svg.icon {
        fill: $color-background;
      }

      span.icon {
        display: inline-block;
        background-color: $color-background;
      }
    }
  }

  &__Main {
    max-width: $site-max-width;
    margin-left: $main-margin-left;

    h1,
    h2,
    h3,
    h4,
    h5 {
      page-break-after: avoid;
    }

    h1 {
      margin: 0;
      margin-top: 2rem;
    }

    & > ul,
    & > p,
    & > h3 {
      margin-left: 1rem;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 0.5rem;
    }

    .organization {
      display: inline;
      page-break-before: always;
    }

    .position,
    .degree,
    .dates {
      display: inline;
      margin-left: 1rem;
    }

    p.nb {
      margin: 0 0 0 1rem;
    }

    a {
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.h15rem {
  height: 15rem;
}

.h2rem {
  height: 2rem;
}

.pad-top-05rem {
  padding-top: 0.5rem;
}

.max-width-35rem {
  max-width: 35rem;
}

.font-weight-bold {
  font-weight: bold;
}

.display-inline {
  display: inline;
}

ul.comma-separated-list {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  & > li {
    white-space: nowrap;
    margin: 0;
    margin-right: 0.25rem;

    &:after {
      content: ", ";
    }

    &:last-child:after {
      content: "";
    }
  }
}

ul.semicolon-separated-list {
  display: inline;

  & > li {
    display: inline;

    &:after {
      content: "; ";
    }

    &:last-child:after {
      content: "";
    }
  }
}

.append-colon {
  &:after {
    content: ": ";
  }
}

.u-indent-2rem {
  margin-left: 2rem;
}

.u-hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .Site {
    &.grid-layout {
      grid-template-columns: 100%;
      grid-template-rows: 10rem 1fr 20rem;
      grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .grid-nav {
      display: none;
    }

    &__Main {
      section {
        max-width: unset;
        margin: 0 1rem;
      }
    }
  }

  .Resume {
    &__Main {
      max-width: unset;
      margin: 0 0.25rem;

      h1,
      h2,
      h3,
      h4,
      p {
        margin: 0;
      }
    }
  }

  .Blog {
    &__Nav ul {
      flex-direction: column;
      text-align: center;
    }

    &__Form {
      h2 {
        margin: 0;
      }

      .comment__list {
        .comment__header {
          flex-direction: column;
        }
      }
    }

    form {
      textarea {
        width: 100%;
      }
    }
  }
}
