---
title: Rendall Koski's resume
layout: resume.njk
---
div(class="no-print")
    p This is my resume / CV. Feel free to print directly from this page. Or, you can also #[a(href="rendallkoski.pdf") download a PDF version], #[a(href="./print.html") print from this page], #[a(href="https://docs.google.com/document/d/1dfiAVUVUVMeFW6hxONcYYUL7-6tcze2rQTAbwT2XUKc/edit?usp=sharing") download almost any format] from Google docs or #[a(href="../") return to the home page].
h1 Rendall Koski
h2 Contact
ul
    li #[span(class="font-weight-bold") Email]: rendall@gmail.com
    li #[span(class="font-weight-bold") Phone]: +358 45 170 0543
    li #[span(class="font-weight-bold") Website]: #[a(href="http://www.rendall.tv") http://www.rendall.tv]
    li #[span(class="font-weight-bold") Location]: Lahti, Finland
h2 Summary
p Software developer with experience in front-end and back-end development.
h2 Skills
ul
    li #[span(class="append-colon font-weight-bold") Client-side]
        ul(class="comma-separated-list")
            li JavaScript / Typescript
            li HTML 5
            li CSS / SASS
    li #[span(class="append-colon font-weight-bold") Server-side]
        ul(class="comma-separated-list")
            li Node.js
            li C#
            li Java
            li MySQL 
            li SQL Server
            li MongoDB
    li #[span(class="append-colon font-weight-bold") Frameworks]
        ul(class="comma-separated-list")
            li React/Inferno + Redux
            li JSX
            li .NET/MVC
            li Laravel
    li #[span(class="append-colon font-weight-bold") Libraries and approaches]
        ul(class="comma-separated-list") 
            li RxJS
            li Ramda
            li Progressive Web App (PWA)
            li functional reactive programming
    li #[span(class="append-colon font-weight-bold") Studying / interests]
        ul(class="comma-separated-list") 
            li Machine learning
            li Scala
            li R

h2 Experience
h3(class='organization') Futurice Oy
h4(class='position') Senior Software Developer
h4(class='dates') 4.2018 - Present
p Maintain and expand the features of two client projects. Technical interviews averaging 1 per week. On the facilitation team for weekly tech knowledge exchanges. Futurice is a digital service consultancy based in Helsinki that emphasizes transparency, trust, and employee autonomy.

h3(class='organization') rendall.tv 
h4(class='position') Principal Software Developer 
h4(class='dates') 6.2002 - Present
p rendall.tv is the kitchen-sink rubric under which I freelance, having built such diverse projects as websites, online reservation systems, SMS messaging applications, Facebook applications, physical interactive kiosks, content management systems, online payments, and more. Currently, I'm building an interactive guide for the Burning Man festival and, more broadly, city-wide events.

h3(class='organization') Loyalistic Oy 
h4(class='position') Senior Software Developer 
h4(class='dates') 10.2014 - 11.2015
p Among other projects, our team of two programmers built the Discovery Card rewards program for S|E|B along with its online consumer catalog, which involved connecting disparate APIs from S|E|B, Posti, product vendors, and distributor warehouses. Security was of special concern here due to the sensitive nature of the data entrusted to our care. Loyalistic is a software development company specializing in SaaS consulting based in Helsinki.

h3(class='organization') Saatchi & Saatchi X 
h4(class='position') Senior Digital Developer 
h4(class='dates') 7.2011 - 2.2013
p I led software development on the Freebie Machine, a vending machine that vends free samples via mobile interaction with Facebook, later deployed to hundreds of Walmart stores across the United States. Other projects included Coppertop Cove, a live carnival water pistol game controlled via mobile app; content management systems, and various high-traffic websites for popular brands such as Procter & Gamble. Saatchi & Saatchi X is a worldwide marketing firm specializing in the physical shopping experience.

h3(class='organization') IconNicholson / LBi US
h4(class='position') Senior Front-End Developer 
h4(class='dates') 2.2009 - 5.2010
p I was on the team which created high-traffic, branded websites and online promotions in HTML and Flash. IconNicholson was a New York City based advertising firm specializing in deep market analysis, with clients such as Prada, EMI, Metropolitan Museum of Art, and Bristol-Myers, among others.

h3(class='organization') NBCUniversal: NBCUXD 
h4(class='position') Front-end Developer 
h4(class='dates') 9.2007 - 5.2009
p Among other projects, I built games in Flash for USA Network's Character Arcade, an online gaming portal; and websites promoting NBC Network's television programs. NBCUniversal is globally famous for producing films and television programs through its countless subsidiaries such as SyFy, DreamWorks, and Universal Pictures, to name only a few. NBCUXD is its large inhouse interactive agency, responsible for producing games, websites, mobile applications, and other promotional or companion material.

h3(class='organization') R/GA Front-end 
h4(class='position') Developer 
h4(class='dates') 11.2005 - 8.2007
p R/GA is an interactive advertising agency based in New York City. As a member of its large tech department, I built websites and widgets in HTML5 and Flash in cooperation with designers for many name-brand clients, including Nike, Johnson & Johnson, Verizon wireless, and L'Oreal, among others.

h2 Education
h3(class='organization') School of Visual Arts 
h4(class='degree') BFA Computer Art
h4(class='dates') 1998 - 2002
p  

h3(class='organization') University of Massachusetts, Amherst 
h4(class='degree') BS Mathematics #[em candidate]*
h4(class='dates') 1996 - 1998
p(class='nb') #[sup *] transferred to School of Visual Arts and completed my bachelor's degree there

h2 Interests
p The intersection of art and technology; physical devices; the power of social media to make our lives better; games

h2 Volunteer
h3(class='organization') Disorient
h4(class='position') Event Producer
h4(class='position') Creative Technologist
h4(class='position') Art Director 
h4(class='dates') 2009 - Present
p I have been involved in Disorient at all levels, as all Disorienters eventually come to be, from heading up massive events of 1500+ attendees, creating and managing art projects, and of course hauling equipment and cleaning floors. Disorient's organization is itself an aesthetic experiment: amorphous and constantly changing, by design. Members do whatever is necessary, coming together to form ad-hoc teams called cells, that form as needed and disperse when completed. No role is too small or too big for a true Disorienter. Disorient is a sound, visual and performance art collective which produces events as an art form. Over time, it has developed a distinctive aesthetic (called "GlamTech") and even its own color scheme (called "Pornj" which is a color combining pink and orange).

p More info: #[a(href="http://disorient.info") http://disorient.info]

h3(class='organization') Hack Manhattan 
h4(class='position') Founder 
h4(class='position') Board of Directors 
h4(class='dates') 8.2011 - 11.2013
p Co-founded and served on the Board of Directors for Hack Manhattan, a non-profit organization dedicated to exploring technology. Hack Manhattan maintains a workshop and laboratory ("hacker space") in downtown Manhattan where anyone can learn about and experiment with electronic circuitry, 3D printing, computer programming, machining and other technologies. The space is open to the public, with 24 hour access for members. Hack Manhattan also hosts visiting lectures and authors on topics relating to technology and engineering, submits a group interactive project to the Figment Arts Festival and maintains a booth at the yearly New York Maker Faire.

p More info: #[a(href="https://hackmanhattan.com") https://hackmanhattan.com]

h2 Languages
ul
    li English ( Native proficiency )
    li Finnish ( Intermediate proficiency - B1 Level )

h2 Patents
p Inventor, 1 of 12, “Method and Apparatus for Fulfilling an Offer”
p Issued 5.2013
p US Patent: US20130123976 A1 #[a(href="https://www.google.com/patents/US20130123976") https://www.google.com/patents/US20130123976]
p Full description at URL. One specific instantiation of this patent was the Freebie Machine, a vending machine which dispenses free samples when users check in to its corresponding location through Facebook on their mobile phones.