<!doctype html>
<html lang="en" class="web-font">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ renderData.title or title or metadata.title }}</title>
	<link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
	<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
</head>

<body class="Blog">
	<header class="Blog__Header">
		<h1 class="Blog__Title"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
	</header>

	<main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
		{{ content | safe }}
		</main>

		{% set previousPost = collections.posts | getPreviousCollectionItem %}
		{% set nextPost = collections.posts | getNextCollectionItem %}
		<footer>
			<nav class="Blog__Nav">
				<ul>
					<li>{% if previousPost %}<a href="{{ previousPost.url }}"><span class="arrow">←</span> {{
							previousPost.data.title }}</a>{% endif %} </li>
					<li><a href="{{ '/' | url }}"> Home <span class="arrow">↑</span></a></li>
					<li>{% if nextPost %}<a href="{{ nextPost.url }}">{{ nextPost.data.title }} <span class="arrow">→</span></a>{%
						endif %}</li>
				</ul>
			</nav>
			<link href="https://blog-rendall-dev-comments.netlify.app/css/simple-comment.css" rel="stylesheet" />
			<div id="simple-comment-area">
				<p>Leave a comment on this post:</p>
				<div id="simple-comment-display"></div>
			</div>
			<script type="module" src="https://blog-rendall-dev-comments.netlify.app/js/simple-comment.js"></script>
		</footer>

		<!-- Current page: {{ page.url | url }} -->
</body>

</html>