<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}" />
  </head>

  <body class="Site Blog grid-layout normal-text">
    <header class="Site__Header Blog__Header grid-header banner">
      <img src="/images/freddie-marriage-vSchPA-YA_A-unsplash.jpg" alt="" />
    </header>
    <aside class="Site__Side grid-nav">
      <header>
        <span class="image avatar"><img src="/images/rendall.png" alt="" /></span>
        <h1><a href="https://rendall.dev">Rendall Koski</a></h1>
      </header>
      <nav>
        <ul>
          <li><a href="https://rendall.dev/#about">About</a></li>
          <li><a href="/" class="active">Blog</a></li>
          <li><a href="https://rendall.dev/resume">CV / Resume</a></li>
          <li><a href="https://rendall.dev/#contact">Contact</a></li>
        </ul>
      </nav>
      <footer></footer>
    </aside>

    <main class="Site__Main Blog__Main grid-main">{{ content | safe }}</main>

    <footer></footer>
    <script src="/js/nav.js"></script>
  </body>
</html>
