---
layout: layouts/base.njk
templateClass: Blog__Post
permalink: /posts/{{ date | year }}/{{ date | month }}/{{ date | day }}/{{ title | slugify }}/index.html
---
<h2 class="Blog__Title">{{ title }}</h2>

<article class="Blog__Article">
<time class="Blog__Date" datetime="{{ page.year }}-{{ page.month }}-{{ page.day }}">{{page.year}}.{{page.month}}.{{page.day}}</time>
{{ content | safe }}
</article>

<p><a href="{{ '/' | url }}">← Home</a></p>
