---
layout: layouts/post-layout.njk
permalink: /posts/{{ date | year }}/{{ date | month }}/{{ date | day }}/{{ title | slugify }}/index.html
---

<header class="Post__Header">
  <h2 class="Post__Title">{{ title }}</h2>
  {%- if subtitle -%}
  <h2 class="Post__SubTitle">{{ subtitle }}</h2>
  {%- endif -%}
  <time class="Post__Date" datetime="{{ date | readableDate }}">{{ date | readableDate }}</time>
  {% for tag in tags %} {%- if tag != "post" -%} {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
  {%- endif -%} {% endfor %}
</header>

<article class="Post__Article">{{ content | safe }}</article>
